body {
    font-family: 'Inconsolata';font-size: 22px;
    background-color: #272932;
    color: #dbdbdb;
}

.navbar{
    display: flex;
    justify-content: space-around;

}

.navbuttond{
    margin-top: 22px;
    justify-content: space-between;
}

.navbutton{
    background: none;
    color: #fff;
    border: none;
    font-size: 22px;
    font-family:'Inconsolata', sans-serif ;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.navbutton {
    border: 0px solid #fff;
    min-width: 200px;
    min-height: 50px;
    background: none;
    position: relative;
    cursor: pointer;
    
}

.navbutton{
    cursor:pointer;
    
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
    letter-spacing: 33px
    

      position:relative;
      padding:10px 20px;
      background:#cb1dcd;
      
      transition:all .1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #37ebf3;
        transition:all 1s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid #37ebf3;
        border-left:5px solid #37ebf3;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid #37ebf3;
        border-right:5px solid #37ebf3;
      }
      &:hover{
        border-top-right-radius:0px;
      border-bottom-left-radius:0px;
        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,&:after{
          
          width:100%;
          height:100%;
          // border-color:white;
        }
      }
    }




.navbar .logo{
    margin-top: 22px;
    width: 200px;
}

.navbar .singup{
    margin-top: 22px;
}

.slogan {
    display: grid;
    place-content: center;
    min-height: 32rem;
    margin-top: 4rem;
}

.slogan h1{
    margin: auto;
    padding-bottom: 2rem;
}

.slogan .mail{
    margin: auto;
}

.solutions{
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 10rem;
    
}

.mail{
    padding-top: 5rem;
}

.inputbutton,
.inputbutton:after {
  width: 100px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #cb1dcd 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 6px 0px #37ebf3;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.inputbutton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #cb1dcd 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.inputbutton:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .inputbutton,
  .inputbutton:after {
    width: 200px;
    height: 46px;
    line-height: 2px;
  }
}